
  <!-- footer -->
  <section id="footer">
    <footer>
      <div class="footer-box section-margin">

        <div class="footer-item">
          <a href="https://github.com/crlycx/barbiepedia">Github</a>
        </div>

        <div class="footer-item">
          <a href="mailto:webdevbarbie@gmail.com">Contact</a>
        </div>

      </div>
    </footer>

  </section>

</body>

</html>
