<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <!-- viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Barbiepedia &hearts;</title>
  <!-- stylesheet -->
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" media="screen and (min-width:500px)" href="/css/over500.css">
  <link rel="stylesheet" media="screen and (min-width:1024px)" href="/css/over1024.css">
  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Quicksand&display=swap" rel="stylesheet">
  <!-- font awesome kit -->
  <script src="https://kit.fontawesome.com/28bd3deec2.js"></script>
</head>

<body>

  <section id="navigation">

    <nav class="navigation">

      <div class="nav-logo">
        <i class="fas fa-heart fa-2x"></i>
      </div>

      <div class="nav-item">
        <a href="/">Home</a>
      </div>

      <div class="nav-item">
        <a href="/submissions">Submit</a>
      </div>

      <div class="nav-item">
        <a href="/contact">Contact</a>
      </div>


    </nav>
  </section>
