<%- include("partials/header") %>

<header class="view-header"><h1>Corrections</h1></header>

<div class="content-box section-margin">
  <form class="" action="/corrections" method="post">
    <div class="content">
      <label for="topic">Select a topic:</label><input name="topic"
    </div>

  </form>

</div>




<%- include("partials/footer") %>
