<!-- end header view -->
<%- include("partials/header") %>

  <section id="content">

    <div class="content-box">
      <div class="content">
        <img class="barbie-logo" src="images/barbie-logo-transparent.png" alt="Barbie Logo">
      </div>
    </div>

    <div class="content-box">
      <div class="content">
        <form id="topics" name="topics" class="" action="/topics" method="post">
          <!-- drop down & select button -->
          <select class="topics" name="topics">
            <option value="family">Family</option>
            <option value="pets">Pets</option>
            <option value="careers">Careers</option>
            <option value="movies/tv">Movies/TV</option>
            <option value="misc">More facts</option>
          </select>
          <input class="select-topic" type="submit" name="topics" value="Go"></input>
        </form>
      </div>
      <div class="content">
        <!-- random button -->
        <form name="random" class="" action="/random" method="post">
          <input value="Random" class="random-topic" type="submit" name="random"></input>
        </form>
      </div>
    </div>

  </section>


  <!-- submission & corrections -->
  <section id="submit">

    <div class="content-box section-margin">
      <form id="usersubmits" class="" action="/usersubmits" method="post">
        <input type="submit" name="usersubmits" class="submit-buttons" value="Submissions"></input>
        <input type="submit" name="usersubmits" class="submit-buttons" value="Corrections"></input>
      </form>
    </div>

  </section>

<%- include("partials/footer") %>
<!-- start footer view -->
