<!-- end header view -->
<%- include("partials/header") %>

  <section id="content">

    <div class="content-box">
      <div class="content">
        <img class="barbie-logo" src="images/barbie-logo-transparent.png" alt="Barbie Logo">
      </div>
    </div>

    <div class="content-box">
      <div class="content">
        <form id="select-topics" class="" action="/" method="get">
          <!-- drop down & select button -->
          <select class="topics" name="topics">
            <option value="family">Family</option>
            <option value="pets">Pets</option>
            <option value="jobs">Jobs</option>
            <option value="movies/tv">Movies/TV</option>
            <option value="games">Games</option>
            <option value="pics/download">Pictures & Downloads</option>
            <option value="other">Other</option>
          </select>
          <button class="select-topic" type="button" name="select-topics">Go</button>
        </form>
      </div>
      <div class="content">
        <!-- random button -->
        <button class="random-topic" type="submit" name="random-topic">Random</button>
      </div>
    </div>

  </section>


  <!-- submission & corrections -->
  <section id="submit">

    <div class="content-box section-margin">
      <form class="" action="index.html" method="post">
        <button class="submit-buttons" type="submit" name="submissions">Submissions</button><br>
        <button class="submit-buttons" type="submit" name="corrections">Corrections</button>
      </form>
    </div>

  </section>

<%- include("partials/footer") %>
<!-- start footer view -->
