<%- include("partials/header") %>

<div class="content-box section-margin">
  <h2 style="font-family:'Montserrat', sans-serif; size: 3em;">
    Oops. <br>
    Something weird happened. Please try again.</h2>
</div>



<%- include("partials/footer") %>
