<%- include("partials/header") %>

<header class="view-header"><h1>Submissions</h1></header>

<div class="content-box">
  <form class="usersubmit-form" action="mailto:webdevbarbie@gmail.com" method="post">
    <div class="usersubmit-input">
      <label for="fname">First name:</label><input type="text" name="fname" placeholder="First name">
    </div>
    <div class="">
      <label for="lname">Last name:</label><input type="text" name="lname" placeholder="Last name">
    </div>
    <br>
    <input class="usersubmit-button" type="submit" name="send" value="Submit">
  </form>

</div>



<%- include("partials/footer") %>
