/* font-family: 'Montserrat', sans-serif;
font-family: 'Quicksand', sans-serif;

----------- wearables ----------------
@media (max-width: 42mm) {

}

---------------- mobile phones ----------------
@media (max-device-width: 812px) {

}

---------------- tablets ----------------
@media (max-device-width: 1024px) {

}

---------------- laptops ----------------
@media (max-device-width: 1600px) {

} */


body {
  margin: auto;
  border: 0;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.navigation i {
  color: #EC429A;
  margin-left: 5px;
  margin-top: 2px;
}

.navigation a {
  padding: 15px 1em;
  color: #EC429A;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}

.nav-logo {
  margin-right: auto;
}

.nav-item:hover a {
  font-size: 22px;
}

.content-box {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.content {
  margin: 15px auto;
}

.barbie-logo {
  max-width: 75%;
  margin-top: 60%;
}

.topics {
  border: 2px mistyrose solid;
  padding: 5px 12px;
  margin: 5px auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
}

.select-topic {
  border: 2px mistyrose solid;
  padding: 5px 12px;
  margin: 5px auto;
  background-color: inherit;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
}

.random-topic {
  border: 2px mistyrose solid;
  padding: 5px 12px;
  background-color: inherit;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
}

.section-margin {
  margin-top: 65% !important;
}

.submit-buttons {
  border: 2px mistyrose solid;
  padding: 20px 50px;
  margin: 5px auto;
  background-color: inherit;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
}

.footer-box {
  display: flex;
  text-align: center;
}

.footer-box a {
  padding-left: 15px;
  padding-right: 15px;
  color: #EC429A;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}

.footer-item {
  margin: 10% auto;
}

/* //////view css////// */

.view-header {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5em;
  padding: 2%;
  margin: 2%;
  color: #EC429A;
}

.topic-view-boxes {
  font-family: 'Montserrat', sans-serif;
  font-size:.8em;
  padding: 2%;
  margin: 5%;
}

.topic-view-boxes p {
  border-bottom: 2px mistyrose solid;
  padding-bottom: 2%;
}

.usersubmit-form {
  font-family: 'Montserrat', sans-serif;
  padding: 4%;
  font-size: 1.3em;
}

.usersubmit-box {
  margin-bottom: 2%;
  text-align: left;
  margin: 1% auto;
}

.usersubmit-input {
  display: inline-block;
  font-size: 0.80em;
  border: 2px mistyrose solid;
  width: 100%;
  padding: 1%;
}

.usersubmit-button {
  border: 2px mistyrose solid;
  padding: 2% 3%;
  margin: 5px auto;
  background-color: inherit;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
}
