/* wearables */
@media (max-width: 42mm) {
  body {
    margin: auto;
    border: 0;
  }

  .barbie-logo {
    width: 50px;
  }
}

/* mobile phones */
@media (max-device-width: 812px) {
  body {
    margin: auto;
    border: 0;
  }

  .barbie-logo {
    width: 150px;
  }
}

/* tablets */
@media (max-device-width: 1024px) {
  body {
    margin: auto;
    border: 0;
  }

  .barbie-logo {
    width: 350px;
  }
}

/* -------------------------laptop media query--------------------- */

/* laptops */
@media (max-device-width: 1600px) {
  body {
    margin: auto;
    border: 0;
  }

  .navigation {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }

  .navigation i {
    color: #EC429A;
    margin-left: 5px;
    margin-top: 2px;
  }

  .navigation a {
    padding-left: 20px;
    padding-right: 20px;
    color: #EC429A;
    text-decoration: none;
    font-family: 'Mali', cursive;
    font-size: 20px;
  }

  .nav-logo {
    margin-right: auto;
  }

  .nav-item:hover a {
    font-size: 22px;
  }

  .content-box {
    display: flex;
    justify-content: center;
  }

  .barbie-logo {
    width: 600px;
    display: block;
    margin: 5px;
  }

  .topics {
    position: absolute;
    margin-top: 26%;
  }

  .random-topic {
    position: absolute;
    margin-top: 28%;
  }
}
